*{

  margin: 0px;
  padding: 0px;
}

.app {
  text-align: center;
  font-family: Arial, sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: url(assets/pexels-pixabay-459203.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
}

.header {
  font-size:xx-large;
  background-color: #4CAF50;
  color: #fffefe;
  padding-bottom: 10px;
  border-radius: 50px;
  
 
}

.weather-widget,
.mood-board,
.forecast,
.alerts,
.event-planner {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ddd;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  color: orange;
  justify-content: center;
  font-weight: bold;
 
  
}

.mood-board {
  color: rgb(5, 5, 5);
  padding: 20px;
  border-radius: 15px;
 
}

.weather-widget{
  align-items: center;
}
.forecast{
  width: 600px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: hwb(249 0% 8% / 0.975);
  font-weight: bold;
  background-color: hsla(0, 100%, 100%, 0.576);

}


